.Image-events {
  display: flex;
  height: 100vh; /* Полная высота экрана */
}

.event-container {
  flex: 1; /* Занимает оставшееся пространство */
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрирование содержимого по вертикали */
  max-width: 600px; /* Максимальная ширина для контейнера события */
}

.event-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.event-description {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left; /* Выравнивание текста влево */
  margin-bottom: 20px;
}

.image-gallery {
  flex: 1; /* Занимает оставшееся пространство */
  display: flex;
  justify-content: center; /* Центрирование изображения */
  align-items: center; /* Центрирование изображения по вертикали */
  padding: 20px; /* Отступы вокруг изображения */
}

.image-gallery img {
  max-width: 100%; /* Обеспечивает отзывчивость изображения */
  height: auto; /* Сохраняет пропорции */
  border-radius: 10px; /* Закругление углов изображения */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Тень для изображения */
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .event-title {
    font-size: 2rem;
  }

  .event-description {
    font-size: 1rem;
  }
}

.quest-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; 
}

.quest-button.hovered {
  background-color: gray;
  color: white;
  transform: scale(1.1); 
}
